@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

:root {
    font-family: "Open Sans", sans-serif;
}

main {
    display: none;
}

hr {
    border: 0;
    border-top: 1px solid black;
    margin: 16px 0;
}

.current {
    display: block;
}
